div{
    width: 450px;
    height: 450px;
    margin: 50px;
    background: #664466;
}

.apple{
    color: rgb(13, 245, 33);
    height: 396px;
    font-size: 150px;
    text-align: center;
}